.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: #000000;
    color: #ffffff;
}

.logo {
    margin-bottom: 20px;
}

.centerMessage {
    font-size: 24px;
    margin: 20px 0;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menuItem {
    color: #cccccc;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.menuItem:hover {
    color: #ffffff;
}

.custom-font {
    font-family: "Shippori Antique", sans-serif;
    font-weight: 400;
    font-style: normal;
}
